/* $variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif; }

body {
  max-width: 100vw;
  overflow-x: hidden; }

.section {
  text-align: center;
  width: 100vw;
  padding: 0 1em; }

.title {
  font-size: 48px;
  line-height: 48px;
  color: white; }

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #2C6269; }

.logo {
  display: flex;
  align-items: center;
  font-size: 40px; }
  .logo a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif; }

.overlay {
  display: none; }

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 25%;
  right: 0;
  z-index: 99;
  background-color: #2C6269;
  padding-top: 30%;
  background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg");
  background-repeat: no-repeat;
  background-position: calc(100% + 100px) 100%;
  background-size: 200px;
  transform: translateX(100%); }
  .nav ul {
    list-style: none; }
    .nav ul li {
      margin: 2em 0; }
      .nav ul li a {
        font-size: 18px;
        line-height: 28px;
        color: white;
        text-decoration: none;
        transition: color 0.5s ease-in; }
        .nav ul li a:hover {
          color: #F67E7E; }

.nav-toggle {
  padding: 0.5em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  top: 2.5em;
  right: 30px; }

.navigationButton {
  display: block;
  position: relative; }

button.contactButton {
  width: fit-content;
  padding: 0.5em 1.5em;
  border: 2px solid white;
  border-radius: 3em;
  background-color: transparent;
  transition: all 0.5s ease-in; }
  button.contactButton:hover {
    background-color: white; }
    button.contactButton:hover a {
      color: #2C6269; }
      button.contactButton:hover a:hover {
        color: #2C6269; }

.navigationButton,
.navigationButton:before,
.navigationButton:after {
  background: white;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease; }

.navigationButton:before,
.navigationButton:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0; }

.navigationButton:before {
  top: 6px; }

.navigationButton:after {
  bottom: 6px; }

.nav-open .overlay {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90; }

.nav-open {
  transition: all 3s ease; }

.nav-open .nav {
  transform: translateX(0); }

.nav-open .nav-toggle {
  position: fixed;
  top: 2.5em;
  right: 30px; }

.nav-open .navigationButton {
  transform: rotate(0.625turn); }

.nav-open .navigationButton:before {
  transform: rotate(90deg) translateX(-6px); }

.nav-open .navigationButton:after {
  opacity: 0; }

/* SECTION 4 */
.section4 {
  background-color: #F67E7E;
  background-image: url("../images/bg-pattern-home-6-about-5.svg");
  background-repeat: no-repeat;
  background-position: 0% calc(100% + 25px);
  background-size: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 0 7em 0; }

.section4Title {
  color: #002529;
  margin: 1em 0;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  width: 60%; }

.contactButton {
  color: #002529;
  padding: 1em 2em;
  border: 2px solid #002529;
  text-decoration: none;
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.5s ease-in; }
  .contactButton:hover {
    color: white;
    background-color: #002529; }

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
  background-color: #002529;
  color: white; }

.footerLinks {
  padding: 2em 0; }

.footerLink {
  margin: 0.5em;
  color: white;
  text-decoration: none;
  transition: color 0.5s ease-in; }
  .footerLink:hover {
    color: #F67E7E; }

.adress {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 15px;
  line-height: 25px;
  font-weight: 600; }

.socialContainer {
  margin: 2em 0 1em 0; }

.social {
  margin: 0.5em;
  text-decoration: none;
  cursor: pointer; }
  .socialImg {
    background-color: #F67E7E; }

.copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  line-height: 25px;
  font-weight: 600; }

/* TABLET */
@media (min-width: 660px) {
  header {
    padding: 2em 2em 4em 2em; }
  .overlay {
    display: block;
    width: 90%;
    height: 100%; }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: unset;
    width: 100%;
    height: 100%;
    transform: rotateX(0);
    padding: 0;
    background-image: none; }
    .nav ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%; }
      .nav ul li {
        margin: 0 2em; }
      .nav ul .nav-button {
        margin-left: auto; }
  .nav-toggle {
    display: none; }
  .section4 {
    flex-direction: row;
    padding: 4em 0;
    justify-content: space-between; }
    .section4 .section4Title {
      width: fit-content;
      margin-left: 13%; }
    .section4 .contactButton {
      margin-right: 13%; }
  footer {
    flex-wrap: wrap;
    max-height: 300px;
    align-items: flex-start;
    padding-left: 2em; }
    footer .socialContainer {
      margin-top: 0em; }
    footer .adress {
      order: 4;
      text-align: right;
      align-self: flex-end;
      margin: 0 2em 1em 0; }
    footer .copyright {
      order: 5;
      align-self: flex-end;
      margin-right: 2em; }
    footer .footerLink {
      margin: 0.5em 1em 0.5em 0; }
    footer .social {
      margin: 0.5em 1em 0.5em 0; } }

/* DESKTOP */
@media (min-width: 1200px) {
  header {
    padding: 2em 8em; }
  .section4 {
    background-position: 0% 100%;
    padding: 4em 3em; }
    .section4 .section4Title {
      font-size: 64px;
      line-height: 56px; }
  footer {
    justify-content: flex-start;
    align-content: flex-start;
    position: relative; }
    footer .footerTitle, footer .footerLinks {
      margin-left: 7rem; }
    footer .socialContainer {
      position: absolute;
      top: 3em;
      right: 7rem; }
      footer .socialContainer .social {
        margin: 0.5rem; }
    footer .adress {
      order: 3;
      text-align: left;
      margin-left: 5rem; }
    footer .copyright {
      margin: 0;
      position: absolute;
      top: 8em;
      right: 7.5rem; } }

.svgs {
  display: none; }

svg {
  transition: all 0.5s ease-in;
  width: 24px;
  height: 24px; }

/* SECTION1 */
.section1 {
  background-color: #2C6269;
  color: white;
  background-repeat: no-repeat;
  background-position: calc(100% + 100px) calc(100% + 100px);
  background-size: 200px;
  background-image: url("../images/bg-pattern-about-1-mobile-nav-1.svg"); }

.section1Content {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0; }

.section1Title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 0.5em; }

.section1Text {
  font-size: 15px;
  line-height: 25px;
  font-weight: 600; }

/* SECTION2 */
.section2 {
  background-color: #004047;
  color: white;
  background-repeat: no-repeat;
  background-position: calc(0% - 100px) calc(0% - 100px), 100% 100%;
  background-size: 200px, 150px;
  background-image: url("../images/bg-pattern-about-2-contact-1.svg"), url("../images/bg-pattern-home-4-about-3.svg"); }

.section2Content {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0; }

.section2Title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 1.5em; }

.section2DirectorContainer {
  display: grid; }

.section2AboutDirector {
  background-color: #002529;
  position: relative;
  padding: 1.5em 1em 2em 1em;
  margin-bottom: 3em; }

.directorImg, .directorName, .directorTitle .plus:hover {
  opacity: 0; }

.directorText {
  opacity: 1; }

.directorText, .directorImg, .directorName, .directorTitle {
  transition: opacity 500ms ease; }

.directorText {
  position: absolute;
  opacity: 0;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.directorImg {
  opacity: 1;
  width: 30%;
  border-radius: 50%;
  border: white 2px solid; }

.directorName {
  opacity: 1;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #79C8C7; }

.directorTitle {
  opacity: 1;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  font-style: italic; }

.directorSocial {
  margin-top: 1.5em; }

.plus {
  position: absolute;
  background-color: #F67E7E;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: -13%;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  border: 1px solid #004047;
  transition: all 250ms ease;
  transform-origin: left; }
  .plus img {
    pointer-events: none; }

/* SECTION3 */
.section3 {
  background-color: #012F34;
  color: white;
  padding: 6em 0;
  background-repeat: no-repeat;
  background-position: calc(0% - 100px) calc(0% - 100px);
  background-size: 200px;
  background-image: url("../images/bg-pattern-about-4.svg"); }

.section3Title {
  text-align: center;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 1.5em; }

.section3Logos {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section3Logos .logo {
    max-height: 1.5rem;
    margin: 0.5em 0; }

@media (min-width: 600px) {
  .section1 {
    background-size: 150px;
    background-position: calc(100% + 75px) 100%; }
  .section1Content {
    width: 60%;
    padding: 4rem 0 5rem 0; }
  .section2 {
    background-size: 150px;
    background-position: calc(0% - 75px) 0%, 100% 100%; }
  .section2DirectorContainer {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; }
  .section3 {
    background-position: 0% calc(0% - 100px); }
    .section3Title {
      font-size: 30px;
      line-height: 30px;
      font-weight: 700; }
    .section3Logos {
      flex-direction: row; }
      .section3Logos .logo {
        max-width: 17%;
        margin: 0 0.5em; } }

@media (min-width: 1200px) {
  .section1 {
    background-size: 200px;
    background-position: calc(100% + 100px) 100%; }
  .section1Content {
    width: 87%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8rem 0 9rem 0; }
  .section1Text {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    max-width: 50%;
    position: relative;
    padding-right: 10em; }
    .section1Text:before {
      content: '';
      position: absolute;
      width: 3rem;
      height: 3px;
      background-color: #F67E7E;
      top: -20px;
      left: 0; }
  .section2 {
    background-size: 200px;
    background-position: calc(0% - 100px) 0%, 100% 100%; }
  .section2DirectorContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; } }
